[Unit]
Description=VoIP Domain FastAGI Service
After=rc-local.service

[Service]
ExecStart=/var/lib/voip/fastagi.php -d
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
