[Unit]
Description=VoIP Domain Message Router Service
After=rc-local.service

[Service]
ExecStart=/usr/libexec/voipdomain/daemons/router.php -d
KillMode=process
TimeoutStopSec=3
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
