[Unit]
Description=VoIP Domain Asterisk Server Service
After=rc-local.service

[Service]
ExecStart=/var/lib/voip/server.php -d
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
