[Unit]
Description=VoIP Domain Asterisk Client Service
After=rc-local.service

[Service]
ExecStart=/usr/libexec/voipdomain/daemons/client.php -d
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
