[Unit]
Description=VoIP Domain Equipment Auto Detect Service
After=rc-local.service

[Service]
ExecStart=/usr/libexec/voipdomain/autodetect/autodetect.php -d
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
